<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#!" class="logo" aria-label="Link to the homepage">
				<img
					src="./assets/media/logo/logo.svg"
					class="logo__itself"
					width="95"
					height="16"
					alt="Logo image"
				/>
			</a>

			<button class="menu-toggler btn-reset">
				<svg class="menu-toggler__ico" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-menu"></use>
				</svg>
			</button>

			<nav class="nav-mobile">
				<ul class="nav-mobile__list">
					<!-- .nav-mobile-item -->
					<li class="nav-mobile__item">
						<a href="#!" class="nav-mobile__link">Home</a>
					</li>
					<!-- /.nav-mobile-item -->

					<!-- .nav-mobile-item -->
					<li class="nav-mobile__item">
						<div class="nav-mobile__wrapper nav-mobile__wrapper--hasdropdown">
							<a href="#!" class="nav-mobile__link">
								Shop
								<svg class="nav-mobile__ico" width="24" height="24">
									<use
										xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"
									></use>
								</svg>
							</a>

							<div class="nav-mobile__dropdown nav-mobile-dropdown">
								<ul class="nav-mobile-dropdown__list">
									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">About</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- /.nav-mobile-item -->

					<!-- .nav-mobile-item -->
					<li class="nav-mobile__item">
						<div class="nav-mobile__wrapper nav-mobile__wrapper--hasdropdown">
							<a href="#!" class="nav-mobile__link"
								>Collections
								<svg class="nav-mobile__ico" width="24" height="24">
									<use
										xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"
									></use>
								</svg>
							</a>

							<div class="nav-mobile__dropdown nav-mobile-dropdown">
								<ul class="nav-mobile-dropdown__list">
									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">About</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- /.nav-mobile-item -->

					<!-- .nav-mobile-item -->
					<li class="nav-mobile__item">
						<div class="nav-mobile__wrapper nav-mobile__wrapper--hasdropdown">
							<a href="#!" class="nav-mobile__link"
								>Company
								<svg class="nav-mobile__ico" width="24" height="24">
									<use
										xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"
									></use>
								</svg>
							</a>

							<div class="nav-mobile__dropdown nav-mobile-dropdown">
								<ul class="nav-mobile-dropdown__list">
									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">About</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">FAQ</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">Reviews</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">Photos</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link"
											>Gift Boxes</a
										>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- /.nav-mobile-item -->

					<!-- .nav-mobile-item -->
					<li class="nav-mobile__item">
						<div class="nav-mobile__wrapper nav-mobile__wrapper--hasdropdown">
							<a href="#!" class="nav-mobile__link"
								>Shop
								<svg class="nav-mobile__ico" width="24" height="24">
									<use
										xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"
									></use>
								</svg>
							</a>

							<div class="nav-mobile__dropdown nav-mobile-dropdown">
								<ul class="nav-mobile-dropdown__list">
									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">About</a>
									</li>

									<li class="nav-mobile-dropdown__item">
										<a href="#!" class="nav-mobile-dropdown__link">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- /.nav-mobile-item -->
				</ul>
			</nav>
		</div>
	</div>
</header>
