@use "../base/functions.scss" as func;

/* ----- Use different tools ----- */
@use "../tools/include-media";

.card-product-simple {
	position: relative;
	padding: 10.1rem 1.6rem 1.7rem;
	overflow: hidden;

	@include include-media.media(">tablet") {
		padding-block-start: 15rem;
	}

	&__title {
		margin-block-end: 1.6rem;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.3;
		color: var(--color-white);
	}

	&__img {
		position: absolute;
		inset: 0;
		z-index: func.z-index("below");
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 1.2rem;

		&::before {
			position: absolute;
			inset: 0;
			content: " ";
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.20) 100%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
