.menu-toggler {
	$this: &;

	position: relative;
	place-content: center;
	width: 4rem;
	height: 4rem;
	padding: 0.8rem;
	background-color: var(--color-white);
	border-radius: 50%;

	&__ico {
		position: absolute;
		inset-block-start: 50%;
		inset-inline-start: 50%;
		stroke: var(--text-color-primary);
		stroke-linecap: round;
		stroke-width: 1.5;
		transform: translate(-50%, -50%);

		&--close {
			visibility: hidden;
			opacity: 1;
		}
	}

	// Modifiers
	&--active {
		#{$this}__ico {
			visibility: hidden;
			opacity: 0;

			&--close {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
