/* ----- Use different tools ----- */
@use "../tools/include-media";

.products-list-scrolled {
	display: flex;
	gap: 1.5rem;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding-right: var(--gutter);
	margin-right: calc(var(--gutter) * -1);
	overflow-x: auto;

	&__item {
		scroll-snap-align: start;
		flex-shrink: 0;
		width: 296px;

		@include include-media.media(">tablet") {
			width: 450px;
		}
	}
}


