// ----------------------------------------------
// ---------------- Forms -----------------
// ----------------------------------------------

/* ----- Use local files ----- */
@use "./variables" as vars;
@use "./mixins";

/* ----- Some general styles as to form elements ----- */
form,
fieldset {
	display: block;
	padding: 0 0 5px;
	margin: 0 0 1.2em 0;
	color: var(--text-color-secondary);
	border: 0;
}

select {
	border-radius: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"],
textarea {
	/* $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height */
	@include mixins.button-size(
		var(--input-x) var(--input-y),
		var(--input-fz),
		var(--input-r),
		var(--input-b),
		1.2
	);

	/* color button mixin $background | $color | $border */
	@include mixins.input-variant(#fff, var(--text-color-primary), #d5d7da);

	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	text-align: left;
	-webkit-appearance: none;
	background: transparent;
	border: 1px solid #e2e2e2;
	border-style: solid;
	outline: none;
	outline-color: transparent;
}

textarea {
	width: 100%;
	height: 115px;
	vertical-align: top;
	resize: none;
}

/* ----- Button ----- */
input[type="button"],
input[type="reset"],
// input[type="file"],
input[type="submit"],
button[type="submit"] {
	/* $btn-padding-y | $btn-padding-x | $btn-font-size | $btn-radius | $btn-border-width | $btn-line-height */
	@include mixins.button-size(
		var(--btn-y) var(--input-x),
		var(--btn-fz),
		var(--btn-r),
		var(--btn-b),
		1.2
	);

	/* color button mixin $background | $color | $border | $hover-background | $hover-color | $hover-border */
	@include mixins.button-variant(
		red,
		#fff,
		red,
		transparent,
		var(--text-color-secondary)
	);

	font-weight: bold;
	text-align: center;
	cursor: pointer;
	border-style: solid;
	transition: all 0.3s;
	-webkit-appearance: none;
}

input[type="reset"] {
	margin-bottom: 13px;
}

input[type="file"] {
	display: flex;
	align-items: center;
	max-width: 100%;
}

/* ----- Style #input #textarea ----- */
/* ----- Removes the icon in the search type field ----- */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/* ----- Smoothly changing the transparency of the placeholder with focus for textarea and input and assignment of font color placeholder ----- */
textarea,
input {
	@include mixins.placeholder {
		color: #a4a7ae;
		opacity: 1;
		transition: opacity 0.3s ease;
	}

	&:focus {
		@include mixins.placeholder {
			opacity: 0;
		}
	}
}
