// ----------------------------------------------
// ---------------- Variables -----------------
// ----------------------------------------------
/* ----- Common breakpoints ----- */
/* ----- ligatured operators ≥ ≤ ----- */
$breakpoints: (
	"full": 1920px,
	"xl": 1680px,
	"macbook": 1440px,
	"ipad-pro": 1366px,
	"md-desktop": 1200px,
	"desktop": 1024px,
	"tablet": 768px,
	"phone": 667px,
	"md-phone": 568px,
	"sm-phone": 480px,
	"xs-phone": 375px,
);

/* ----- Specific media ----- */
$media-expressions: (
	"iphoneX": "(min-width: 812px) and (max-height: 414px) and (orientation: landscape)",
	"screen": "screen",
	"print": "print",
	"handheld": "handheld",
	"landscape": "(orientation: landscape)",
	"portrait": "(orientation: portrait)",
	"retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
	"retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

/* ----- Mobile menu breakpoint ----- */
// $menu-mobile-breakpoint: 768px;

/* ----- SASS MAPs FOR Z-INDEXs ----- */
$z-index: (
	preloader: 80,
	tooltip: 70,
	popover: 60,
	modal: 50,
	navigation: 40,
	header: 30,
	commonOver: 20,
	common: 10,
	default: 1,
	below: -1,
	pit: -9000,
);

/* ----- Font family, fonts' folder variables ----- */
/* ----- These variables are used in fonts.scss ----- */
$font-root-folder: "../fonts/";
$primary-font-name: "Figtree";
$secondary-font-name: "Inter";
$accent-font-name: $primary-font-name;
$font-fallback: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$primary-font: $primary-font-name, $font-fallback;
$secondary-font: $secondary-font-name, $font-fallback;
$accent-font: $accent-font-name, $font-fallback;

/* ----- Colors sheme ----- */
$colors-general: (
	"primary": #7f56d9,
	"secondary": #f5f5f5,
	"white": #fff,
	"black": #000,
	"violet": #7f56d9,
	"violet-sec": #42307d,
	"gray": #f5f5f5,
	"gray-sec": #717680,
	"red": #f97066,
	"red-sec": #f04438,
	"green": #12b76a,
);

/* ----- Color use ----- */
// $colors: func.color-scheme($colors-general);

/* $bodies: func.color-scheme($color-body); */

/* ----- Main menu background-color ----- */
// $menu-main-bg-color: #f9f9f9;

/* ----- Colors theme ----- */
/* $color-brand: color('primary', $colors, true); */
// $btn-bg-color: color("primary", $colors, true);

/* ----- Headers ----- */
/* name use for media query `<${name}`. See `$breakpoints` variable for a possible key. */
$headers: (
	"default": (
		5.4rem,
		4.8rem,
		4.2rem,
		3.6rem,
		3.1rem,
		2.4rem,
	),
	"tablet": (
		3.8rem,
		3.2rem,
		3rem,
		2.6rem,
		22px,
		19px,
	),
	"xs-phone": (
		2.4rem,
		2.2rem,
		2.6rem,
		2.2rem,
		18px,
		16px,
	),
);

/* ----- Paragraph ----- */
/* name use for media query `<${name}`. See `$breakpoints` variable for a possible key. */
/* key use for class name. Example 'sm': 14px - create variable `--p-sm: 14px`; */
$paragraph: (
	"default": (
		"default": 18px,
	),
	"tablet": (
		"default": 16px,
	),
);

/* ----- Container ----- */
$gutter: 16px;
$container: (
	"default": 1265px,
);

/* ----- Grid ----- */
$grid: (
	"column": 12,
	"gutter": 21px,
	"breakpoints": (
		"xs": "sm-phone",
		"sm": "phone",
		"md": "tablet",
		"lg": "desktop",
		"xl": "md-desktop",
		"xxl": "xl",
	),
);

/* ----- Buttons size ----- */

/*  x - top/bottom padding
 y - left/right padding
 b - border
 r - radius
 fz - font-size */

$btnsSize: (
	"default": (
		"default": (
			"y": 12px,
			"x": 18px,
			"b": 1px,
			"r": 8px,
			"fz": 18px,
		),
		/* if need other size button */
		/* 'lg': ('y': 18px, 'x': 35px, 'b': 3px, 'r': 0, 'fz': 22px),,,,,, */
	),
	"phone": (
		"default": (
			"y": 7px,
			"x": 15px,
			"b": 1px,
			"r": 8px,
			"fz": 16px,
		),
	),
);

$inputSize: (
	"default": (
		"default": (
			"y": 1.5rem,
			"x": 1.2rem,
			"b": 1px,
			"r": 8px,
			"fz": 16px,
		),
		/* if need other size button */
		/* 'lg': ('y': 18px, 'x': 35px, 'b': 3px, 'r': 0, 'fz': 22px),,,,,, */
	),
	"phone": (
		"default": (
			"y": 1.2rem,
			"x": 1rem,
			"b": 1px,
			"r": 8px,
			"fz": 14px,
		),
	),
);

/* ----- Input padding left and right ----- */
// $input-padding-x: map-get(map-get(map-get($btnsSize, "default"), "default"), "x");
