<section class="contact-us">
	<div class="container">
		<h2 class="h5 contact-us__title">Get in Touch</h2>

		<div class="form-primary">
			<form>
				<div class="form-primary__wrapper">
					<!-- .form-primary-row -->
					<div class="form-primary__row">
						<div class="form-primary__col">
							<div class="input-main input-main--hasicon">
								<label for="fullName" class="input-main__label">Name <span>*</span></label>
								<div class="input-main__wrapper">
									<input type="text" id="fullName" name="fullName" class="input-main__itself" placeholder="Name">
									<svg class="input-main__ico" width="16" height="16">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /.form-primary-row -->

					<!-- .form-primary-row -->
					<div class="form-primary__row">
						<div class="form-primary__col">
							<div class="input-main input-main--hasicon">
								<label for="email" class="input-main__label">Email <span>*</span></label>
								<div class="input-main__wrapper">
									<input type="email" id="email" name="email" class="input-main__itself" placeholder="Email">
									<svg class="input-main__ico" width="16" height="16">
										<use xlink:href="./assets/media/icons/sprite.svg#ico-arrow-down"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
					<!-- /.form-primary-row -->

					<!-- .form-primary-row -->
					<div class="form-primary__row">
						<div class="form-primary__col">
							<div class="input-main">
								<label for="message" class="input-main__label">Message <span>*</span></label>
								<div class="input-main__wrapper">
									<textarea class="input-main__itself" name="message" id="message" placeholder="Message"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- /.form-primary-row -->
				</div>

				<button type="submit" class="btn btn--primary btn-block">View Product</button>
			</form>
		</div>
	</div>
</section>
