<section class="products-related">
	<div class="container">
		<h2 class="h2 products-related__title">You May Also Like</h2>

		<ul class="products-list" style="--products-inline: 2">
			<!-- .products-list-item -->
			<li class="products-list__item">
				<article class="card-product">
					<header class="card-product__header">
						<a href="#!" class="card-product__img">
							<picture>
								<source
									srcset="./assets/media/images/products/pic-product04.avif"
									type="image/avif"
								/>
								<source
									srcset="./assets/media/images/products/pic-product04.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./assets/media/images/products/pic-product04.jpg"
									width="155"
									height="155"
									alt="Product Image"
								/>
							</picture>
						</a>

						<button class="btn-wishlist btn-reset">
							<svg
								class="btn-wishlist__ico btn-wishlist__ico--default"
								width="24"
								height="24"
							>
								<use xlink:href="./assets/media/icons/sprite.svg#ico-fav"></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--hoveradd"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-hoveradd"
								></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--added"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-added"
								></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--removehover"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-hoverdelete"
								></use>
							</svg>
						</button>
					</header>

					<div class="card-product__body">
						<h4 class="card-product__title">iPhone 15 Pro</h4>

						<span class="card-product__params">256GB · 8GB RAM · Black</span>

						<div class="card-product__price card-product-price">
							<strong class="card-product-price__itself">$999</strong>
							<sub class="card-product-price__old">$1,199</sub>
						</div>

						<button class="btn btn--primary btn-block text-center">Add</button>
					</div>
				</article>
			</li>
			<!-- /.products-list-item -->

			<!-- .products-list-item -->
			<li class="products-list__item">
				<article class="card-product">
					<header class="card-product__header">
						<a href="#!" class="card-product__img">
							<picture>
								<source
									srcset="./assets/media/images/products/pic-product04.avif"
									type="image/avif"
								/>
								<source
									srcset="./assets/media/images/products/pic-product04.webp"
									type="image/webp"
								/>
								<img
									loading="lazy"
									src="./assets/media/images/products/pic-product04.jpg"
									width="155"
									height="155"
									alt="Product Image"
								/>
							</picture>
						</a>

						<button class="btn-wishlist btn-reset">
							<svg
								class="btn-wishlist__ico btn-wishlist__ico--default"
								width="24"
								height="24"
							>
								<use xlink:href="./assets/media/icons/sprite.svg#ico-fav"></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--hoveradd"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-hoveradd"
								></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--added"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-added"
								></use>
							</svg>

							<svg
								class="btn-wishlist__ico btn-wishlist__ico--removehover"
								width="24"
								height="24"
							>
								<use
									xlink:href="./assets/media/icons/sprite.svg#ico-fav-hoverdelete"
								></use>
							</svg>
						</button>
					</header>

					<div class="card-product__body">
						<h4 class="card-product__title">Google Pixel 8</h4>

						<span class="card-product__params">128GB · 8GB RAM · Hazel</span>

						<div class="card-product__price card-product-price">
							<strong class="card-product-price__itself">$599</strong>
							<sub class="card-product-price__old">$699</sub>
						</div>

						<button class="btn btn--primary btn-block text-center">Add</button>
					</div>
				</article>
			</li>
			<!-- /.products-list-item -->
		</ul>
	</div>
</section>
