<section class="products">
	<div class="container">
		<h1 class="visually-hidden">Products Section</h1>

		<ul class="products__list products-list-scrolled">
			<!-- ./products-list-scrolled-item -->
			<li class="products-list-scrolled__item">
				<article class="card-product-simple">
					<h3 class="card-product-simple__title">New Arrivals</h3>

					<a href="#!" class="btn btn--primary">View Product</a>

					<div class="card-product-simple__img">
						<picture>
							<source
								srcset="./assets/media/images/products/pic-product01.avif"
								type="image/avif"
							/>
							<source
								srcset="./assets/media/images/products/pic-product01.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./assets/media/images/products/pic-product01.jpg"
								width="290"
								height="200"
								alt="Product image"
							/>
						</picture>
					</div>
				</article>
			</li>
			<!-- ./products-list-scrolled-item -->

			<!-- ./products-list-scrolled-item -->
			<li class="products-list-scrolled__item">
				<article class="card-product-simple">
					<h3 class="card-product-simple__title">Spring Sale Up to 50% Off</h3>

					<a href="#!" class="btn btn--primary">View Product</a>

					<div class="card-product-simple__img">
						<picture>
							<source
								srcset="./assets/media/images/products/pic-product02.avif"
								type="image/avif"
							/>
							<source
								srcset="./assets/media/images/products/pic-product02.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./assets/media/images/products/pic-product02.jpg"
								width="290"
								height="200"
								alt="Product image"
							/>
						</picture>
					</div>
				</article>
			</li>
			<!-- ./products-list-scrolled-item -->

			<!-- ./products-list-scrolled-item -->
			<li class="products-list-scrolled__item">
				<article class="card-product-simple">
					<h3 class="card-product-simple__title">Free Shipping Over $99</h3>

					<a href="#!" class="btn btn--primary">View Product</a>

					<div class="card-product-simple__img">
						<picture>
							<source
								srcset="./assets/media/images/products/pic-product03.avif"
								type="image/avif"
							/>
							<source
								srcset="./assets/media/images/products/pic-product03.webp"
								type="image/webp"
							/>
							<img
								loading="lazy"
								src="./assets/media/images/products/pic-product03.jpg"
								width="290"
								height="200"
								alt="Product image"
							/>
						</picture>
					</div>
				</article>
			</li>
			<!-- ./products-list-scrolled-item -->
		</ul>
	</div>
</section>
