<section class="s-breadcrumb">
	<div class="container">
		<h2 class="visually-hidden">Breadcrumb</h2>

		<nav class="breadcrumb" aria-label="breadcrumb">
			<ol class="breadcrumb__list">
				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a class="breadcrumb__text" aria-label="asdasd asdads"
						>Home</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="asdasd asdads"
						>Electronics</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="asdasd asdads"
						>Smartphones</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="asdasd asdads"
						>Android</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="asdasd asdads"
						>Premium</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->

				<!-- .breadcrumb-item -->
				<li class="breadcrumb__item">
					<a href="#!" class="breadcrumb__text" aria-label="asdasd asdads"
						>Galaxy S24 Ultra</a
					>
					<span class="breadcrumb__separator">/</span>
				</li>
				<!-- /.breadcrumb-item -->
			</ol>
		</nav>
	</div>
</section>
