<section class="s-navbar">
	<div class="container">
		<div class="s-navbar__inner">
			<ul class="navbar">
				<!-- .navbar-item -->
				<li class="navbar__item">
					<a href="#!" class="navbar__link" aria-label="Link to...">
						<svg class="navbar__ico" width="24" height="24">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-home"></use>
						</svg>
					</a>
				</li>
				<!-- /.navbar-item -->

				<!-- .navbar-item -->
				<li class="navbar__item">
					<a href="#!" class="navbar__link" aria-label="Link to...">
						<svg class="navbar__ico" width="24" height="24">
							<use
								xlink:href="./assets/media/icons/sprite.svg#ico-catalog"
							></use>
						</svg>
					</a>
				</li>
				<!-- /.navbar-item -->

				<!-- .navbar-item -->
				<li class="navbar__item">
					<a href="#!" class="navbar__link" aria-label="Link to...">
						<svg class="navbar__ico" width="24" height="24">
							<use xlink:href="./assets/media/icons/sprite.svg#ico-fav"></use>
						</svg>
					</a>
				</li>
				<!-- /.navbar-item -->

				<!-- .navbar-item -->
				<li class="navbar__item">
					<a href="#!" class="navbar__link" aria-label="Link to...">
						<svg class="navbar__ico" width="24" height="24">
							<use
								xlink:href="./assets/media/icons/sprite.svg#ico-shopping-basket"
							></use>
						</svg>
					</a>
				</li>
				<!-- /.navbar-item -->
			</ul>
		</div>
	</div>
</section>
