<section class="s-product-top">
	<div class="container">
		<h2 class="visually-hidden">Top product</h2>

		<article class="card-product-top">
			<div class="card-product-top__rating">
				<svg class="card-product-top__star" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-star"></use>
				</svg>

				<svg class="card-product-top__star" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-star"></use>
				</svg>

				<svg class="card-product-top__star" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-star"></use>
				</svg>

				<svg class="card-product-top__star" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-star"></use>
				</svg>

				<svg class="card-product-top__star" width="24" height="24">
					<use xlink:href="./assets/media/icons/sprite.svg#ico-star"></use>
				</svg>
			</div>

			<h3 class="card-product-top__title">
				Loved by tons of people! Real users, real results.
			</h3>

			<div class="card-product-top__desc">
				<p>
					Rated 4.8 out of 5 by over 7,809 customers — from dread beginners to
					seasoned pros.
				</p>
			</div>

			<a href="#!" class="btn btn--primary btn-block text-center">View Product</a>
		</article>
	</div>
</section>
